:root {
  --main-color: lawngreen;
  --font-main-color: #252525;
}

body {
  color: var(--font-main-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: auto;
  width: 70%;
  justify-content: space-between;
}

h1 {
  margin-bottom: 50px;
  text-decoration: underline;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.mx {
  margin: 0 30px;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 10px;
}

.smText {
  font-size: 0.4rem;
}

.lgText {
  font-size: 1.5rem;
}

.outlineText {
  text-shadow: 1px 1px 1px var(--main-color);
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

button {
  height: 25px;
  width: auto;
  border: 1px solid;
  box-shadow: 1px 1px 5px var(--main-color);
}
